<% include ../partials/header %>

<h1 class="text-center top-buffer">JSON WEB TOKEN AUTH APP</h1>
<p class="text-center">This app will implement an authentication system with JSW</p>

<% include ../partials/footer %>
